data/*
data2/*
!data2/temp.txt
*.pkl
*.csv
model-outputs
*.json
*.txt
*.tsv
*.png
*.jpg
*.jpeg
notebooks/
*.ipynb_checkpoints
.ipynb_checkpoints/*
.ipynb_checkpoints/
.ipynb_checkpoints
**/.ipynb_checkpoints
