data/*
data2/*
chicken_scratch/
__pycache__/
*.pkl
*.csv
model-outputs
*.json
*.txt
*.tsv
*.png
*.jpg
*.jpeg
!data/temp.png
!sample_data.tsv
!data/LiberationMono-Bold.ttf
!data/manga_list.txt
!data/sample_data.tsv
!data/models_temp/
!data/models_temp/bounding_model.pkl
!data/models_temp/font_model.pkl
notebooks/
*.ipynb_checkpoints
.ipynb_checkpoints/*
.ipynb_checkpoints/
.ipynb_checkpoints
**/.ipynb_checkpoints
