data/*
data2/*
chicken_scratch/
__pycache__/
!data2/temp.txt
*.pkl
*.csv
model-outputs
*.json
*.txt
*.tsv
*.png
*.jpg
*.jpeg
!data/temp.png
!sample_data.tsv
!data/LiberationMono-Bold.ttf
notebooks/
*.ipynb_checkpoints
.ipynb_checkpoints/*
.ipynb_checkpoints/
.ipynb_checkpoints
**/.ipynb_checkpoints
